<div class="righty">
<form action="/sessions" method="post">
  <input id="field-height" type="email" name="email" placeholder="Email">
  <input id="field-height" type="password" name="password" placeholder="password">
  <input id="field-height" type="submit" name="login" value="Login">
</form>

<p> <%= @error %> </p>
</div>
