<div class="righty">
<form action="/users" method="post">
  <input id="field-height" type="text" name="username" placeholder="Username">
  <input id="field-height" type="email" name="email" placeholder="Email">
  <input id="field-height" type="password" name="password" placeholder="Password">
  <input id="field-height" type="submit" name="submit" value="Register">
</form>
</div>
