<br><br><br>

<h1>Hi <%= @user.username%>!</h1>
<!--  for edit user form, prepopulate the data via the html value attribute + erb tags (input=<%= user.name %> -->
http://stackoverflow.com/questions/6172174/how-do-i-insert-variable-values-into-html-tags-in-erb-templates

<!--  Choose how to sort on the show page using created_at (@posts=@user.favorited.order('created_at DESC')) -->
http://stackoverflow.com/questions/10587034/how-to-sort-by-created-at-column-of-association-in-rails
