<!DOCTYPE html>
<html><head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title> ted.tv</title>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <link rel="stylesheet" type="text/css" href="tabs.css" />
  <script type="text/javascript" src="tabs.js"></script>
</head>
<body>
  <div>
    <h1>Ted.tv</h1>

    <ul class="tabs">
        <li><a href="#sports">Sports</a></li>
        <li><a href="#techcrunch">TechCrunch</a></li>
        <li><a href="#redbull">Red Bull</a></li>
        <li><a href="#adultswim">Adult Swim</a></li>
        <li><a href="#comics">Comics</a></li>
    </ul>
  </div>

  <div>
    <div class="tab-content" id="techcrunch">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/a8H9K_7LAGo?list=PLHRxVckaE8daCzJTOu54uB9K1QJ5YzyV7" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tab-content" id="redbull">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/G8HqOWHA4H8?list=PLnuf8iyXggLHthAsWINuEydfNMBa_lA1D" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tab-content" id="adultswim">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8YMOfiJ-vxY?list=PLQl8zBB7bPvIdtfRh0uwcHrjR3moB9iKk" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tab-content" id="comics">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/W7EJRv__Z6g?list=PLqt3wbDmZi8T77VQfjNzcunVi_hkNcpAv" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tab-content" id="sports">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pI470DZhojA?list=PLUWYtPw3Rhf2QOy5wa14qF6rAyKWD6pIJ" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="tab-content" id="earth">
      <iframe width="1120" height="630" src="https://www.youtube.com/embed/P6rhJMwHjN4?list=PLSSPBo7OVSZszs6coWD3nnAhJyVe_2drG" frameborder="2" allowfullscreen></iframe>
    </div>

  </div>
</div>
</body>
</html>

