<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Skeleton App</title>

</head>
<body>
  <div class="navbar">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <% if session[:id] %>
        <li><a id="profile" href="/users/<%= session[:id]%>">Profile</a></li>
        <li><a id="logout" href="/sessions/delete">Logout</a></li>
      <% else %>
        <li><a id="login" href="/sessions/new">Login</a></li>
        <li><a id="signup" href="/users/new">Sign Up</a></li>
      <% end %>
      <span id="user-forms"></span>
    </ul>
  </div>
 <%= yield %>

</body>
<footer class="footer"><p id="copyright">Ted, All Rights Reserved</p></footer>
</html>
